/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: $font-raleway, sans-serif;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// MY STYLES 
.hidden {
    display: none !important;
}

.card {
    overflow: visible;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    color: $blue-color;
    align-items: center;
    justify-content: center;
    padding: 40px;
    &--blue {
        background-color: $blue-color;
        color: white;
    }
    &__header {
        width: auto;
        height: 64px;
    }
    &__menu {
        padding-bottom: 80px;
    }
}

.title {
    &__logo {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    &--white {
        color: white;
    }
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: $font-amatic_sc;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
}

.cuerpo {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
    line-height: 25px;
}

.button {
    width: 180px;
    height: 45px;
    background-color: $blue-color;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    &--white {
        background-color: white;
        color: $blue-color;
    }
    &--redText {
        color: $red-text-color;
    }
}

.bottom {
    margin-bottom: 70px;
}

.top {
    margin-top: 70px;
}

.toper {
    margin-top: 100px;
}