@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none !important;
}

.card {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: #2f39b2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.card--blue {
  background-color: #2f39b2;
  color: white;
}

.card__header {
  width: auto;
  height: 64px;
}

.card__menu {
  padding-bottom: 80px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Amatic SC";
  margin-bottom: 30px;
}

.title__logo {
  margin-top: 10px;
  margin-bottom: 40px;
}

.title--white {
  color: white;
}

.subtitle {
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
}

.cuerpo {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  max-width: 500px;
  line-height: 25px;
}

.button {
  width: 180px;
  height: 45px;
  background-color: #2f39b2;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
}

.button__map {
  position: absolute;
  z-index: 1;
}

.button--white {
  background-color: white;
  color: #2f39b2;
}

.button--redText {
  color: #f45050;
}

.bottom {
  margin-bottom: 70px;
}

.top {
  margin-top: 70px;
}

.toper {
  margin-top: 100px;
}

.modal {
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 0x;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
}

.modal__button {
  margin: auto;
  width: 100px;
  height: 100px;
}

.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.8);
}

.modal__container {
  position: relative;
}

.modal__content {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: black;
  height: 300px;
  width: 100%;
  max-width: 300px;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  -webkit-transform: translate(0px, -800px);
          transform: translate(0px, -800px);
  position: relative;
}

.img__abs {
  position: absolute;
}

.img__logo {
  width: 120px;
  margin-top: 40px;
}

.img__01 {
  z-index: 3;
  width: 200px;
  top: -120px;
}

.img__02 {
  width: 190px;
  top: -90px;
}

.img__04 {
  top: -100px;
  width: 140px;
}

.img__03 {
  top: -110px;
  width: 220px;
}

.img__05 {
  width: 280px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.img__06 {
  top: -90px;
  width: 175px;
}

.img__07 {
  top: -100px;
  width: 150px;
}

.img__goUp {
  margin-top: 40px;
  width: 30px;
}

.img__goBack {
  width: 15px;
  top: 40px;
  left: 40px;
}

.img__goBackMap {
  width: 10px;
  margin-left: 20px;
}

.img__logoMap {
  width: 25px;
}

.img__report {
  width: 25px;
  margin-right: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container__row {
  margin-top: 20px;
}

.circle {
  border-radius: 50%;
  width: 58px;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 30px;
}

.circle__yellow {
  background-color: #f4c241;
}

.circle__red {
  background-color: #a40404;
}

.circle__orange {
  background-color: #f48b41;
}

#mapid {
  height: 100vh;
  z-index: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: -10px -10px 2px -10px #c2c2c2 inset;
          box-shadow: -10px -10px 2px -10px #c2c2c2 inset;
}
/*# sourceMappingURL=main.css.map */